*{
    margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

body{
    width: 100vw;
    height: 100vh;
}

.all{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;  
    width: 100vw;
}

.calculator{
    display: flex;
    flex-direction: column;
}

.row, .row-final, .row-começo{
    display: flex;
}

.row-começo{
    display: flex;
    justify-content: space-between;
}

.row-final .nulo{
    width: 125px;
    background-color: #EFEFEF;
}

.row-começo, .nulo{
    background-color: #EFEFEF;
}

.row-final {
    display: flex;
    justify-content: space-between;
}

.row-final:nth-child(2){
    padding: 10px;
}

#input::placeholder{
    display: flex;
    justify-content: end;
    align-items: center;
}

#display{
    height: 15vh;
    width: 21.6vw;
}

.button{
    width: 100px;
    height:125px;
}